* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

main {
  background-image: url("./img/valorant.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 55px;
}

.form-container {
  background-color: white;
  width: 520px;
  padding: 40px 30px;
  border-radius: 34px;
  display: inline-block;
  h1 {
    margin-bottom: 25px;
    font-size: 22px;
  }

  form {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="tel"] {
      display: block;
      width: 100%;
      padding: 10px;
      border-radius: 15px;
      margin-bottom: 15px;
      font-size: 20px;
    }

    div.d-flex {
      display: flex;
      gap: 24px;
      margin-bottom: 16px;
      input {
        width: 50%;
      }
    }

    label {
      display: flex;
      align-items: center;
      font-size: 20px;
      margin-bottom: 16px;

      input[type="checkbox"] {
        margin-right: 8px;
        transform: scale(1.8); // aumenta proporcionalmente (opcional)

      a {
        color: #3c8dde;
        text-decoration: none;
        margin-left: 2px;
        margin-right: 2px;
      }
    }

    button {
      width: 80%;
      height: 65px;
      padding: 12px 0;
      background-color: #cd4742;
      color: white;
      border: none;
      border-radius: 15px;
      font-weight: bold;
      font-size: 28px;
      cursor: pointer;
      outline-offset: 4px;
    }
  }
 }
}